---
import SectionContainer from "./SectionContainer.astro";
import Blendy from "@components/Blendy.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

const { title, text, ctaText } = Astro.props;
---

<SectionContainer id="cta-corporativa-basic" class="mb-20">
  <div class="mx-auto py-16 lg:flex lg:items-center">
    <div class="mx-auto text-center">
      <h2 class="bg-gradient-to-r from-secondary via-accent to-primary font-IBMCondensed md:leading-tight bg-clip-text text-transparent text-3xl md:text-5xl text-balance">{title}</h2>
      <p class="pt-6 text-white text-lg md:text-xl text-center font-thin text-pretty max-w-[60ch] mx-auto" set:html={text} />
      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <Blendy id="cta-basic" text={ctaText} />
      </div>
    </div>
  </div>
</SectionContainer>