---
import SectionContainer from "./SectionContainer.astro";
import Blendy from "@components/Blendy.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

const { title, text, ctaText, lottieJson } = Astro.props;
---

<SectionContainer id="cta-corporativa" class="pb-16">
  <div class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl rounded-xl sm:px-16 md:pt-24 lg:flex lg:gap-x-10 lg:px-24 lg:pt-0">
    <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
      <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
      <defs>
        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#7775D6" />
          <stop offset="1" stop-color="#E935C1" />
        </radialGradient>
      </defs>
    </svg>
    <div class="mx-auto text-center md:mx-0 md:flex-auto md:py-16 md:text-left">
      <h2 class="bg-gradient-to-r from-secondary via-accent to-primary font-IBMCondensed md:leading-tight bg-clip-text text-transparent text-3xl md:text-5xl text-balance">{title}</h2>
      <p class="pt-6 text-white text-lg md:text-xl font-thin text-pretty" set:html={text} />
      <div class="mt-10 flex items-center justify-center gap-x-6 md:justify-start">
        <Blendy id="cta" text={ctaText} />
      </div>
    </div>
    <div class="relative mt-16 mb-16 flex flex-col justify-center items-center">
      {
        lottieJson && (
          <LottieAnimation src={lottieJson} autoplay="visible" class="w-96 self-center" />
        )
      }
    </div>
  </div>
</SectionContainer>