---
import SectionContainer from "@components/Sections/SectionContainer.astro";
import SocialMediaIcons from "@components/ui/SocialMediaIcons.astro";
import language from '@data/i18n/es.json';

const { DISENO_WEB_GRATUITO } = language.PAGES
const { TITLE, PARAGRAPH, ID } = DISENO_WEB_GRATUITO.SECTIONS.SOCIAL_MEDIA
---

<SectionContainer class="mb-32 mt-10" id={ID}>
  <h2 class="text-4xl md:text-5xl text-primary font-medium font-IBMCondensed text-balance text-center">{TITLE}</h2>
  <p class="pt-6 text-xl md:text-2xl font-light text-pretty text-center">{PARAGRAPH}</p>
  <SocialMediaIcons class="mt-8" />
</SectionContainer>