---
import SwipeGallery from "@components/ui/SwipeGallery.astro";
import SectionContainer from "./SectionContainer.astro";
import 'swiper/css/bundle';

---
<SectionContainer class="my-20 md:p-6">
  <h2 class="text-4xl md:text-5xl font-bold mb-4 text-primary">Proyectos</h2>
  <SwipeGallery />
</SectionContainer>