---
import SectionContainer from "@components/Sections/SectionContainer.astro";
import Choose from "@components/ui/Choose.astro";
import language from '@data/i18n/es.json';

const { HOME } = language.PAGES
const { TITLE, FIRST_PARAGRAPH, SECOND_PARAGRAPH, ID } = HOME.SECTIONS.WHY_CHOOSE
---

<SectionContainer class="mb-20" id={ID}>
  <div
    class="w-full text-xl text-white flex flex-col gap-4"
  >
    <slot>
      <h2 class="text-4xl md:text-5xl text-secondary font-IBMCondensed font-medium text-balance">{TITLE}</h2>
      <p class="pt-4 text-xl md:text-2xl font-light text-pretty">{FIRST_PARAGRAPH}</p>
      <p class="pt-4 text-gray-300 font-extralight text-pretty">{SECOND_PARAGRAPH}</p>
    </slot>
  </div>
  <Choose />
  
</SectionContainer>
