<div class="background -z-20">
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>

<style>
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      734px 98px #fff,
      1098px 1675px #fff,
      1445px 1260px #fff,
      482px 381px #fff,
      1481px 1531px #fff,
      403px 1831px #fff,
      537px 1940px #fff,
      519px 2000px #fff,
      570px 763px #fff,
      1620px 1157px #fff,
      531px 771px #fff,
      771px 1416px #fff,
      288px 135px #fff,
      1137px 1693px #fff,
      279px 1811px #fff,
      1617px 612px #fff,
      37px 975px #fff,
      1104px 363px #fff,
      1133px 1109px #fff,
      1984px 968px #fff,
      529px 568px #fff,
      742px 1071px #fff,
      854px 721px #fff,
      1640px 648px #fff,
      552px 1288px #fff,
      1776px 1082px #fff,
      342px 1659px #fff,
      726px 529px #fff,
      997px 347px #fff,
      408px 1526px #fff,
      1830px 743px #fff,
      171px 1821px #fff,
      985px 679px #fff,
      1223px 1055px #fff,
      1498px 1938px #fff,
      1701px 1552px #fff,
      666px 158px #fff,
      1455px 823px #fff,
      1296px 1046px #fff,
      622px 1345px #fff,
      1083px 547px #fff,
      1114px 1482px #fff,
      1691px 861px #fff,
      1501px 308px #fff,
      182px 1205px #fff,
      1464px 1458px #fff,
      1308px 188px #fff,
      1581px 589px #fff,
      1264px 1328px #fff,
      422px 1526px #fff,
      4px 1340px #fff,
      1000px 1000px #fff,
      1262px 708px #fff,
      227px 327px #fff,
      313px 110px #fff,
      1358px 1205px #fff,
      1271px 1347px #fff,
      1064px 503px #fff,
      1962px 1823px #fff,
      563px 500px #fff,
      1402px 1315px #fff,
      1878px 1705px #fff,
      594px 1024px #fff,
      762px 779px #fff,
      764px 905px #fff,
      659px 1648px #fff,
      118px 93px #fff,
      527px 821px #fff,
      1052px 1190px #fff,
      1245px 1311px #fff,
      529px 1633px #fff,
      992px 52px #fff,
      90px 1843px #fff,
      1851px 651px #fff,
      1134px 663px #fff,
      161px 1687px #fff,
      1835px 1526px #fff,
      389px 1782px #fff,
      1561px 1004px #fff,
      106px 1659px #fff,
      38px 1497px #fff,
      1981px 1086px #fff,
      977px 512px #fff,
      702px 1004px #fff,
      535px 1265px #fff,
      894px 302px #fff,
      1753px 259px #fff,
      1811px 410px #fff,
      1460px 849px #fff,
      1702px 313px #fff,
      979px 448px #fff,
      1556px 892px #fff,
      1387px 524px #fff,
      811px 411px #fff,
      557px 1198px #fff,
      473px 1300px #fff,
      685px 529px #fff,
      129px 1842px #fff,
      876px 168px #fff,
      1096px 389px #fff,
      819px 1705px #fff,
      89px 1118px #fff,
      1763px 28px #fff,
      75px 766px #fff,
      563px 909px #fff,
      1234px 115px #fff,
      1965px 1928px #fff,
      1518px 679px #fff,
      1056px 1810px #fff,
      1600px 387px #fff,
      1100px 1679px #fff,
      30px 988px #fff,
      831px 953px #fff,
      1041px 1830px #fff,
      1435px 11px #fff,
      1247px 503px #fff,
      747px 1301px #fff,
      1399px 1767px #fff,
      1702px 1140px #fff,
      468px 1370px #fff,
      851px 543px #fff,
      675px 684px #fff,
      813px 915px #fff,
      920px 1215px #fff,
      1238px 730px #fff,
      784px 730px #fff,
      1510px 596px #fff,
      81px 124px #fff,
      853px 260px #fff,
      169px 1158px #fff,
      1562px 953px #fff,
      1261px 1929px #fff,
      1538px 1252px #fff,
      990px 1635px #fff,
      387px 836px #fff,
      1616px 447px #fff,
      40px 150px #fff,
      1346px 935px #fff,
      116px 1021px #fff,
      622px 430px #fff,
      1465px 604px #fff,
      1747px 107px #fff,
      1325px 1473px #fff,
      1705px 1430px #fff,
      1900px 267px #fff,
      1775px 1169px #fff,
      930px 461px #fff,
      1425px 448px #fff,
      1405px 1666px #fff,
      1228px 1734px #fff,
      1089px 359px #fff,
      29px 937px #fff,
      1100px 581px #fff,
      48px 1166px #fff,
      752px 1470px #fff,
      176px 743px #fff,
      1800px 1905px #fff,
      463px 1543px #fff,
      920px 1726px #fff,
      1001px 1333px #fff,
      679px 147px #fff,
      296px 1534px #fff,
      1573px 1515px #fff,
      1799px 359px #fff,
      1190px 1691px #fff,
      1702px 1088px #fff,
      1344px 1012px #fff,
      566px 850px #fff,
      48px 153px #fff,
      613px 308px #fff,
      684px 567px #fff,
      109px 714px #fff,
      1078px 1361px #fff,
      851px 819px #fff,
      1414px 1883px #fff,
      1907px 72px #fff,
      1345px 37px #fff,
      56px 1277px #fff,
      955px 11px #fff,
      465px 262px #fff,
      1934px 1526px #fff,
      1928px 1199px #fff,
      1665px 1116px #fff,
      301px 1987px #fff,
      1322px 1232px #fff,
      290px 1359px #fff,
      566px 1359px #fff,
      1362px 469px #fff,
      1484px 43px #fff,
      973px 1189px #fff,
      894px 1306px #fff,
      1290px 1617px #fff,
      982px 1124px #fff,
      1409px 721px #fff,
      559px 911px #fff,
      1120px 1820px #fff,
      1468px 30px #fff,
      92px 98px #fff,
      1241px 950px #fff,
      1731px 1420px #fff;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      734px 98px #fff,
      1098px 1675px #fff,
      1445px 1260px #fff,
      482px 381px #fff,
      1481px 1531px #fff,
      403px 1831px #fff,
      537px 1940px #fff,
      519px 2000px #fff,
      570px 763px #fff,
      1620px 1157px #fff,
      531px 771px #fff,
      771px 1416px #fff,
      288px 135px #fff,
      1137px 1693px #fff,
      279px 1811px #fff,
      1617px 612px #fff,
      37px 975px #fff,
      1104px 363px #fff,
      1133px 1109px #fff,
      1984px 968px #fff,
      529px 568px #fff,
      742px 1071px #fff,
      854px 721px #fff,
      1640px 648px #fff,
      552px 1288px #fff,
      1776px 1082px #fff,
      342px 1659px #fff,
      726px 529px #fff,
      997px 347px #fff,
      408px 1526px #fff,
      1830px 743px #fff,
      171px 1821px #fff,
      985px 679px #fff,
      1223px 1055px #fff,
      1498px 1938px #fff,
      1701px 1552px #fff,
      666px 158px #fff,
      1455px 823px #fff,
      1296px 1046px #fff,
      622px 1345px #fff,
      1083px 547px #fff,
      1114px 1482px #fff,
      1691px 861px #fff,
      1501px 308px #fff,
      182px 1205px #fff,
      1464px 1458px #fff,
      1308px 188px #fff,
      1581px 589px #fff,
      1264px 1328px #fff,
      422px 1526px #fff,
      4px 1340px #fff,
      1000px 1000px #fff,
      1262px 708px #fff,
      227px 327px #fff,
      313px 110px #fff,
      1358px 1205px #fff,
      1271px 1347px #fff,
      1064px 503px #fff,
      1962px 1823px #fff,
      563px 500px #fff,
      1402px 1315px #fff,
      1878px 1705px #fff,
      594px 1024px #fff,
      762px 779px #fff,
      764px 905px #fff,
      659px 1648px #fff,
      118px 93px #fff,
      527px 821px #fff,
      1052px 1190px #fff,
      1245px 1311px #fff,
      529px 1633px #fff,
      992px 52px #fff,
      90px 1843px #fff,
      1851px 651px #fff,
      1134px 663px #fff,
      161px 1687px #fff,
      1835px 1526px #fff,
      389px 1782px #fff,
      1561px 1004px #fff,
      106px 1659px #fff,
      38px 1497px #fff,
      1981px 1086px #fff,
      977px 512px #fff,
      702px 1004px #fff,
      535px 1265px #fff,
      894px 302px #fff,
      1753px 259px #fff,
      1811px 410px #fff,
      1460px 849px #fff,
      1702px 313px #fff,
      979px 448px #fff,
      1556px 892px #fff,
      1387px 524px #fff,
      811px 411px #fff,
      557px 1198px #fff,
      473px 1300px #fff,
      685px 529px #fff,
      129px 1842px #fff,
      876px 168px #fff,
      1096px 389px #fff,
      819px 1705px #fff,
      89px 1118px #fff,
      1763px 28px #fff,
      75px 766px #fff,
      563px 909px #fff,
      1234px 115px #fff,
      1965px 1928px #fff,
      1518px 679px #fff,
      1056px 1810px #fff,
      1600px 387px #fff,
      1100px 1679px #fff,
      30px 988px #fff,
      831px 953px #fff,
      1041px 1830px #fff,
      1435px 11px #fff,
      1247px 503px #fff,
      747px 1301px #fff,
      1399px 1767px #fff,
      1702px 1140px #fff,
      468px 1370px #fff,
      851px 543px #fff,
      675px 684px #fff,
      813px 915px #fff,
      920px 1215px #fff,
      1238px 730px #fff,
      784px 730px #fff,
      1510px 596px #fff,
      81px 124px #fff,
      853px 260px #fff,
      169px 1158px #fff,
      1562px 953px #fff,
      1261px 1929px #fff,
      1538px 1252px #fff,
      990px 1635px #fff,
      387px 836px #fff,
      1616px 447px #fff,
      40px 150px #fff,
      1346px 935px #fff,
      116px 1021px #fff,
      622px 430px #fff,
      1465px 604px #fff,
      1747px 107px #fff,
      1325px 1473px #fff,
      1705px 1430px #fff,
      1900px 267px #fff,
      1775px 1169px #fff,
      930px 461px #fff,
      1425px 448px #fff,
      1405px 1666px #fff,
      1228px 1734px #fff,
      1089px 359px #fff,
      29px 937px #fff,
      1100px 581px #fff,
      48px 1166px #fff,
      752px 1470px #fff,
      176px 743px #fff,
      1800px 1905px #fff,
      463px 1543px #fff,
      920px 1726px #fff,
      1001px 1333px #fff,
      679px 147px #fff,
      296px 1534px #fff,
      1573px 1515px #fff,
      1799px 359px #fff,
      1190px 1691px #fff,
      1702px 1088px #fff,
      1344px 1012px #fff,
      566px 850px #fff,
      48px 153px #fff,
      613px 308px #fff,
      684px 567px #fff,
      109px 714px #fff,
      1078px 1361px #fff,
      851px 819px #fff,
      1414px 1883px #fff,
      1907px 72px #fff,
      1345px 37px #fff,
      56px 1277px #fff,
      955px 11px #fff,
      465px 262px #fff,
      1934px 1526px #fff,
      1928px 1199px #fff,
      1665px 1116px #fff,
      301px 1987px #fff,
      1322px 1232px #fff,
      290px 1359px #fff,
      566px 1359px #fff,
      1362px 469px #fff,
      1484px 43px #fff,
      973px 1189px #fff,
      894px 1306px #fff,
      1290px 1617px #fff,
      982px 1124px #fff,
      1409px 721px #fff,
      559px 911px #fff,
      1120px 1820px #fff,
      1468px 30px #fff,
      92px 98px #fff,
      1241px 950px #fff,
      1731px 1420px #fff;
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      172px 1985px #fff,
      1102px 1943px #fff,
      1650px 724px #fff,
      1473px 789px #fff,
      313px 692px #fff,
      15px 1492px #fff,
      1857px 389px #fff,
      1414px 1138px #fff,
      117px 241px #fff,
      170px 37px #fff,
      1935px 1637px #fff,
      1319px 508px #fff,
      161px 1138px #fff,
      1770px 1994px #fff,
      124px 1657px #fff,
      1658px 442px #fff,
      1067px 415px #fff,
      790px 123px #fff,
      740px 16px #fff,
      229px 1113px #fff,
      1021px 589px #fff,
      1502px 876px #fff,
      449px 241px #fff,
      117px 1648px #fff,
      444px 811px #fff,
      390px 933px #fff,
      33px 1897px #fff,
      1575px 1635px #fff,
      18px 593px #fff,
      113px 1253px #fff,
      175px 1660px #fff,
      726px 1425px #fff,
      1670px 1521px #fff,
      1551px 168px #fff,
      365px 440px #fff,
      766px 1827px #fff,
      1487px 1381px #fff,
      1890px 1049px #fff,
      339px 1338px #fff,
      1008px 165px #fff,
      1911px 208px #fff,
      1632px 1272px #fff,
      381px 1279px #fff,
      94px 1145px #fff,
      656px 1319px #fff,
      1236px 490px #fff,
      544px 1523px #fff,
      1534px 1739px #fff,
      357px 1470px #fff,
      1976px 572px #fff,
      648px 1855px #fff,
      1633px 1621px #fff,
      164px 1106px #fff,
      749px 121px #fff,
      1013px 1378px #fff,
      466px 1648px #fff,
      624px 652px #fff,
      1544px 389px #fff,
      741px 1421px #fff,
      864px 469px #fff,
      1722px 918px #fff,
      313px 1603px #fff,
      1009px 760px #fff,
      1831px 1836px #fff,
      439px 1073px #fff,
      831px 414px #fff,
      1283px 1564px #fff,
      1105px 1271px #fff,
      445px 16px #fff,
      1102px 1502px #fff,
      1639px 1406px #fff,
      1438px 869px #fff,
      1597px 1885px #fff,
      1891px 1604px #fff,
      1067px 1038px #fff,
      1474px 1025px #fff,
      1331px 311px #fff,
      1922px 1907px #fff,
      576px 591px #fff,
      310px 1966px #fff,
      1523px 843px #fff,
      1484px 1919px #fff,
      436px 1873px #fff,
      21px 471px #fff,
      1534px 871px #fff,
      893px 462px #fff,
      1814px 1222px #fff,
      1767px 353px #fff,
      470px 1361px #fff,
      1185px 528px #fff,
      403px 1012px #fff,
      1953px 1680px #fff,
      1165px 1552px #fff,
      20px 1878px #fff,
      678px 391px #fff,
      1628px 838px #fff,
      1838px 348px #fff,
      1386px 1096px #fff,
      1355px 1740px #fff,
      207px 1932px #fff;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      172px 1985px #fff,
      1102px 1943px #fff,
      1650px 724px #fff,
      1473px 789px #fff,
      313px 692px #fff,
      15px 1492px #fff,
      1857px 389px #fff,
      1414px 1138px #fff,
      117px 241px #fff,
      170px 37px #fff,
      1935px 1637px #fff,
      1319px 508px #fff,
      161px 1138px #fff,
      1770px 1994px #fff,
      124px 1657px #fff,
      1658px 442px #fff,
      1067px 415px #fff,
      790px 123px #fff,
      740px 16px #fff,
      229px 1113px #fff,
      1021px 589px #fff,
      1502px 876px #fff,
      449px 241px #fff,
      117px 1648px #fff,
      444px 811px #fff,
      390px 933px #fff,
      33px 1897px #fff,
      1575px 1635px #fff,
      18px 593px #fff,
      113px 1253px #fff,
      175px 1660px #fff,
      726px 1425px #fff,
      1670px 1521px #fff,
      1551px 168px #fff,
      365px 440px #fff,
      766px 1827px #fff,
      1487px 1381px #fff,
      1890px 1049px #fff,
      339px 1338px #fff,
      1008px 165px #fff,
      1911px 208px #fff,
      1632px 1272px #fff,
      381px 1279px #fff,
      94px 1145px #fff,
      656px 1319px #fff,
      1236px 490px #fff,
      544px 1523px #fff,
      1534px 1739px #fff,
      357px 1470px #fff,
      1976px 572px #fff,
      648px 1855px #fff,
      1633px 1621px #fff,
      164px 1106px #fff,
      749px 121px #fff,
      1013px 1378px #fff,
      466px 1648px #fff,
      624px 652px #fff,
      1544px 389px #fff,
      741px 1421px #fff,
      864px 469px #fff,
      1722px 918px #fff,
      313px 1603px #fff,
      1009px 760px #fff,
      1831px 1836px #fff,
      439px 1073px #fff,
      831px 414px #fff,
      1283px 1564px #fff,
      1105px 1271px #fff,
      445px 16px #fff,
      1102px 1502px #fff,
      1639px 1406px #fff,
      1438px 869px #fff,
      1597px 1885px #fff,
      1891px 1604px #fff,
      1067px 1038px #fff,
      1474px 1025px #fff,
      1331px 311px #fff,
      1922px 1907px #fff,
      576px 591px #fff,
      310px 1966px #fff,
      1523px 843px #fff,
      1484px 1919px #fff,
      436px 1873px #fff,
      21px 471px #fff,
      1534px 871px #fff,
      893px 462px #fff,
      1814px 1222px #fff,
      1767px 353px #fff,
      470px 1361px #fff,
      1185px 528px #fff,
      403px 1012px #fff,
      1953px 1680px #fff,
      1165px 1552px #fff,
      20px 1878px #fff,
      678px 391px #fff,
      1628px 838px #fff,
      1838px 348px #fff,
      1386px 1096px #fff,
      1355px 1740px #fff,
      207px 1932px #fff;
  }

  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
</style>
