---
import Layout from '../layouts/Layout.astro';
import HeroSection from '@components/Sections/HeroSection.astro';
import FeaturesSection from '@components/Sections/FeaturesSection.astro';
import ProjectsSection from '@components/Sections/ProjectsSection.astro';
import ProcessSection from '@components/Sections/ProcessSection.astro';
import language from '@data/i18n/es.json';
import FaqsSection from '@components/Sections/FaqsSection.astro';
import WhyChooseSection from '@components/Sections/WhyChooseSection.astro';
import IsForYouSection from '@components/Sections/IsForYouSection.astro';
import CorporativeCta from '@components/Sections/CorporativeCta.astro';
import BlogListSection from '@components/Sections/BlogListSection.astro'

const { TITLE, DESCRIPTION, SECTIONS } = language.PAGES.HOME
const { PROCESS, CALL_TO_ACTION, FAQS } = SECTIONS;
---

<Layout title={TITLE} description={DESCRIPTION}>
	<main class="text-white flex flex-col items-center">
		<HeroSection />
		<FeaturesSection />
		<ProjectsSection />
		<CorporativeCta {...CALL_TO_ACTION} />
		<ProcessSection {...PROCESS} />
		<FaqsSection {...FAQS} />
		<IsForYouSection />
		<WhyChooseSection />
		<BlogListSection />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
