<footer class="w-full flex flex-col justify-center items-center">
  <div class="flex max-w-5xl w-full mb-20 md:p-6 border-t text-white text-lg md:text-xl font-thin">
    <div class="flex gap-2 justify-center items-center w-full">
      <a href="/" class="hover:text-secondary transition-colors">AstraHub</a> | <a href="/aviso-legal" class="hover:text-secondary transition-colors">Aviso Legal</a> | <a href="/politica-de-privacidad" class="hover:text-secondary transition-colors">Política de Privacidad</a>
    </div>
  </div>
</footer>