---
const NAVIGATION = {
  FIRST_NAVIGATION: [
    { name: 'Inicio', href: '/' },
  ],
  SECOND_NAVIGATION: [
    { name: 'Web corporativa', href: '/diseno-web-corporativo', },
    { name: 'Web a medida', href: '/desarrollo-web-a-medida', },
  ],
} as const;
---

<header class="header flex flex-col items-center h-14">
  <div class="max-w-5xl hidden md:flex justify-between font-IBM w-full relative p-4">
    {
      Object.keys(NAVIGATION).map((key) => (<nav class="flex justify-center gap-6 flex-1">
        {
            NAVIGATION[key as keyof typeof NAVIGATION].map(({ name, href }) => (
            <a href={href} class="text-white hover:text-primary transtion-colors">{name}</a>)
          )
        }
      </nav>
      ))
    }
  </div>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(5px);
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes adjust-header {
    to {
      background-color: rgba(0,0,0,.3);
    }
  }
</style>