<header class="header flex flex-col items-center h-14">
  <!-- <div class="max-w-5xl hidden md:flex justify-between w-full relative p-4">
    <nav class="flex justify-center gap-6 flex-1">
      <a href="/" class="text-white">Home</a>
      <a href="/about" class="text-white">About</a>
      <a href="/contact" class="text-white">Contact</a>
    </nav>
    <nav class="flex justify-center gap-6 flex-1">
      <a href="/blog" class="text-white">Blog</a>
      <a href="/projects" class="text-white">Projects</a>
      <a href="/contact" class="text-white">Contact</a>
    </nav>
  </div> -->
</header>

<!-- <style>
  .header {
    position: sticky;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(5px);
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes adjust-header {
    to {
      background-color: rgba(0,0,0,.3);
    }
  }
</style> -->